<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <div id="container">
    <ion-grid>
      <ion-card class="card">
        <ion-row>
          <ion-col>
            <h1>About us</h1>
            <hr class="hrSmall">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>
              <ion-img src="/assets/csmWoman.jpg" style="float: right; max-width: 50%; border-radius: 4px;"></ion-img>
              We are the specialists for your house and apartment.
              We have been offering you competent electrical installation service since <b>1963</b>. Our specialists
              take care of the planning and implementation of new installations, maintenance or repairs quickly and
              reliably .
              <br>
              Elektro Seewald was founded by Arthur Seewald. In <b>1992</b> he handed over the business to the master
              electrical engineer Johann Wagner. The move to the new premises took place on <b>January 1st , 2013</b>.
              The change of name and handover of the business to Markus Wagner and Jochen Guth took place on <b>January
                1, 2019</b>.
              <br>
              Taking into account all spatial and technical conditions as well as the wishes of our customers, we
              develop <b>tailor-made</b> and <b>future-proof</b> installations. We therefore place the highest demands
              on the training and further education of our employees.
              <br>
              We focus on <b>quality</b> , <b>safety</b> and <b>energy</b> - because <b>your satisfaction</b> is very
              important to us! We look forward to you.
            </p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-grid>
  </div>
</ion-content>