<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <div id="container">
    <ion-grid>
      <ion-card class="card">
        <ion-row>
          <ion-col>
            <h1>Contact us</h1>
            <hr class="hrSmall">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>            
            <p style="text-align: left; margin: 10px auto; padding-left: 8%;">
              SEEWALD ELEKTRO GmbH <br>              
              <ion-icon name="compass-outline"></ion-icon> Hurstweg 1, 79114 Freiburg <br>
              im Breisgau, Germany.<br>
              <ion-icon name="call-outline"></ion-icon> Telephone: + 49-761-273418<br>
              <ion-icon name="print-outline"></ion-icon> Fax: + 49-761-281616<br>
              <ion-icon name="mail-outline"></ion-icon> Email: info@seewald-elektro.de<br><br>              
            </p>
            <ion-img src="/assets/csm.png" style="max-width: 80%; border-radius: 4px; margin: 0 auto;"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-grid>
  </div>
</ion-content>