<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Our services</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <div id="container">
    <ion-grid>
      <ion-card class="card">
        <ion-row>
          <ion-col>
            <h1>What we offer</h1>
            <hr class="hrSmall">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>
              Our specialist company offers you a wide range of services related to your electrical installations and
              electrical devices.
              <br><br>
              We are active in the following areas:<br>
              <br>
              <ion-icon name="checkmark-circle-outline"></ion-icon>Lighting<br>
              <ion-icon name="checkmark-circle-outline"></ion-icon>Communication<br>
              <ion-icon name="checkmark-circle-outline"></ion-icon>Safety <br>
              <ion-icon name="checkmark-circle-outline"></ion-icon>Thermal engineering<br>
              <ion-icon name="checkmark-circle-outline"></ion-icon>House technic<br>
              <ion-icon name="checkmark-circle-outline"></ion-icon>E-CHECK<br><br>
              The basic principle for us is: <b>"We will find the right solution for you!"</b>
              <br>
            </p>
          </ion-col>
        </ion-row>
      </ion-card>
      <!-- 1 -->
      <ion-card class="card">
        <ion-row>
          <ion-col>
            <h1>MODERNIZE SMART</h1>
            <hr class="hrSmall">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>
              Germany is in a wave of modernization and restructuring. There are new buildings, conversions and extensions on every corner. 
              <br><br>
              <a routerLink="/home"><ion-icon name="duplicate-outline"></ion-icon>Learn more...</a>
            </p>
          </ion-col>
        </ion-row>
      </ion-card>
       <!-- 2 -->
       <ion-card class="card">
        <ion-row>
          <ion-col>
            <h1>e-mobility</h1>
            <hr class="hrSmall">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>
              The alternative to petrol, diesel or gas - e-mobility.
              <br><br>
              <a routerLink="/home"><ion-icon name="duplicate-outline"></ion-icon>Learn more...</a>
            </p>
          </ion-col>
        </ion-row>
      </ion-card>
       <!-- 3 -->
       <ion-card class="card">
        <ion-row>
          <ion-col>
            <h1>Modern electrical installation</h1>
            <hr class="hrSmall">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Safe, intelligent and future-proof - more than just electricity from the socket. We know our way around and will be happy to advise you and match your needs.
              <br><br>
              <a routerLink="/home"><ion-icon name="duplicate-outline"></ion-icon>Learn more...</a>
            </p>
          </ion-col>
        </ion-row>
      </ion-card>
       <!-- 4 -->
       <ion-card class="card">
        <ion-row>
          <ion-col>
            <h1>E-CHECK</h1>
            <hr class="hrSmall">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>The E-CHECK is the recognized test seal for electrical installations and devices. We are a certified specialist company.
              <br><br>
              <a routerLink="/home"><ion-icon name="duplicate-outline"></ion-icon>Learn more...</a>
            </p>
          </ion-col>
        </ion-row>
      </ion-card>
       <!-- 5 -->
       <ion-card class="card">
        <ion-row>
          <ion-col>
            <h1>KNX partner</h1>
            <hr class="hrSmall">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>With us you are on the safe side. As a certified KNX company, we have the necessary know-how to plan and install your system.
              <br><br>
              <a routerLink="/home"><ion-icon name="duplicate-outline"></ion-icon>Learn more...</a>
            </p>
          </ion-col>
        </ion-row>
      </ion-card>
       <!-- 6 -->
       <ion-card class="card">
        <ion-row>
          <ion-col>
            <h1>Service & maintenance</h1>
            <hr class="hrSmall">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Advice, planning and customer service - we are at your disposal and are your reliable partner.
              <br><br>
              <a routerLink="/home"><ion-icon name="duplicate-outline"></ion-icon>Learn more...</a>
            </p>
          </ion-col>
        </ion-row>
      </ion-card>
       <!-- 7 -->
       <ion-card class="card">
        <ion-row>
          <ion-col>
            <h1>Telecommunications</h1>
            <hr class="hrSmall">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>We support you in the selection of suitable devices. We are the right choice for setting up and maintaining your telephone system.
              <br><br>
              <a routerLink="/home"><ion-icon name="duplicate-outline"></ion-icon>Learn more...</a>
            </p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-grid>
  </div>
</ion-content>