<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Welcome to
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src="/assets/csm.png"></ion-img>
          <hr style="height: 2px; background: radial-gradient(orange, white);">
        </ion-col>
      </ion-row>
      <ion-card class="card">
        <ion-row>
          <ion-col>
            <h2>For your safety</h2>
            <hr class="hrSmall">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p style="text-align: center;"><b>Smoke detectors save lives.</b></p>
            <p>
              Every month, around 40 people die in a fire in Germany. We offer optimal protection for you and your
              family - installed by a specialist.
            </p>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card class="card">
        <ion-row>
          <ion-col>
            <h3>As an electrical professional, we guarantee you the best quality.</h3>
            <hr class="hrSmall">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <p style="text-align: justify;">
                <ion-img src="/assets/twoMen.jpg" style="float: left; max-width: 50%; border-radius: 4px;"></ion-img>
                <b>
                  <div> Our promise to you:</div>
                </b><br>
              </p>
            </div>
            <p style="text-align: left;"> <ion-icon name="checkmark-circle-outline"></ion-icon>Timely execution.<br>
              <ion-icon name="checkmark-circle-outline"></ion-icon>Fair price - performance ratio.<br>
              <ion-icon name="checkmark-circle-outline"></ion-icon>Expert individual advice and implementation.<br>
              <ion-icon name="checkmark-circle-outline"></ion-icon>Reliable implementation of the planned work.<br> </p>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card class="card">
        <ion-row>
          <ion-col>
            <h3>Advice in our electrical engineering theme world</h3>
            <hr class="hrSmall">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>
              We have put together a selection of various electrical engineering options. Experience with us
              <b>"online"</b> how diverse the electrical installation is. We offer you innovative products and systems
              that make everyday life comfortable and interesting.
            </p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-grid>
  </div>
</ion-content>